* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

#time {
  font-size: 5rem;
  font-weight: bold;
}
